.tag-input {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ced4da;
  padding: 2px;
  border-radius: 5px;
}
.tag {
  background-color: #d4d4d4;
  color: #000;
  padding: 0px 8px;
  border-radius: 3px;
  margin: 2px;
  display: flex;
  align-items: center;
}
.feature-input {
  border: none;
  outline: none;
  flex: 1;
  min-width: 150px;
}
.tag .cross-icon {
  background: none;
  border: none;
  color: #000;
  font-size: 15px;
  margin-left: 5px;
  cursor: pointer;
}

.tag .cross-icon:hover {
  color: red;
  text-decoration: none;
}

.dropzone .dz-message {
  font-size: 24px;
  width: 100%;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* menu style */

.social-button {
  height: 2rem;
  width: 2rem;
  line-height: calc(2rem - 4px);
  display: block;
  border: 2px solid #6cb93b;
  background-color: #6cb93b;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-primary {
  background-color: #6cb93b !important;
  border-color: #6cb93b !important;
}
